* {
  font-family: "Arial", Arial, sans-serif;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

html {
  background: #000000;
  font-size:1em;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body {
  align:center;
  width:100%;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

#main {
  width:100%;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

#card {
    height:4000px;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.loading-progress-15 {
  background: #f197b3;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YxOTdiMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiYjI3MmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #f197b3 0%, #bb272e 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f197b3), color-stop(100%,#bb272e));
  background: -webkit-linear-gradient(top,  #f197b3 0%,#bb272e 100%);
  background: -o-linear-gradient(top,  #f197b3 0%,#bb272e 100%);
  background: -ms-linear-gradient(top,  #f197b3 0%,#bb272e 100%);
  background: linear-gradient(to bottom,  #f197b3 0%,#bb272e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f197b3', endColorstr='#bb272e',GradientType=0 );
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  -moz-box-shadow:inset 0px 1px 3px rgb(24,79,0);
  -webkit-box-shadow:inset 0px 1px 3px rgb(24,79,0);
  box-shadow:inset 0px 1px 3px rgb(24,79,0);
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffd8f298,endColorstr=#ff5cb519,GradientType=0)";
}

#scrollPrompt {
   position:fixed;
   top:20px;
   width:120px;
   height:50px;
}



